//- Vista para mostrar el listado de tareas
extends ../layout  
block contenido  

  // Título de la página
  h1 Lista de Tareas

  // Botón para crear nueva tarea 
  a.btn(href="/tareas/crear") Nueva Tarea

  // Muestra una línea por cada tarea con sus datos
  if tareas && tareas.length > 0
    // Tabla para mostrar las tareas
    table
      // Encabezados de la tabla
      thead
        tr
          th Tarea        
          th Horas        
          th Proyecto     
          th Estado      
      // Cuerpo de la tabla
      tbody
        // Genera una fila en la tabla por cada tarea existente
        each tarea in tareas
          tr
            td= tarea.nombre            
            td= tarea.horasRegistradas
            td= tarea.proyectoId        
            td= tarea.estado      
  else
    // Mensaje que se muestra cuando no hay tareas
    p No hay tareas registradas